.loading-indicator {
    display: block;
    width: 70px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40%;
    z-index: 100;
    background-color: #FFF;
}

.loading-indicator img {
    width: 70px;
    background-color: #FFF;
}

.ui-view-placeholder {
    margin-top: 60px;
}

/****** Signg Up **********************/

body {
  font-size: 1.2em;
}
input {
  font-size: 14px;
  margin-bottom: 10px;
  color: black;
  display: inline-block;
  float: left;
}
button {
  font-size: 24px;
  color: black;
  float: left;
  clear: left;
}
legend {
  color: white;
}

.ng-touched.ng-valid {
  border: 2px green solid;
}

.ng-touched.ng-invalid {
  border: 2px red solid;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 200px;
    text-align: left;
    font-size: 14px;
}

#info {
  margin-top: 20px;
  float: left;
  clear: left;
}
